@model ThomasGregChallenge.UI.Models.ClienteModel

@{
    ViewData["Title"] = "Detalhes";
}

<h1>Detalhes</h1>

<div>
    <h4>Clientes</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Logotipo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Logotipo)
        </dd>
    </dl>
    @if (Model.Logradouros != null && 
         Model.Logradouros.Any())
    {
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Endereço
                    </th>
                    <th>
                        Numero
                    </th>
                    <th>
                        Bairro
                    </th>
                    <th>
                        Cidade
                    </th>
                    <th>
                        Estado
                    </th>
                    <th>
                        Complemento
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Logradouros)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Endereco)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Numero)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Bairro)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Cidade)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Estado)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Complemento)
                        </td>
                        <td>
                            <button type="button" class="btn btn-warning" onclick="location.href='/Logradouro/Edit/@item.Id'">Editar</button> 
                            <button type="button" class="btn btn-danger" onclick="location.href='/Logradouro/Delete/@item.Id'">Excluir</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>
<div>
    <button type="button" class="btn btn-warning" onclick="location.href='/Cliente/Edit/@Model?.Id'">Editar</button> 
    <button type="button" class="btn btn-primary" onclick="location.href='/Cliente'">Voltar</button> 
</div>